<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Ratatouille</title>
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/newmain.css">  
</head>

<body>
    <div class="limiter">
		<!-- <div class="container-login100" style="background-image: url('images/bg-01.jpg');"> -->
			<img class="logo p-b-100" src="images/logo.png">
			<div class="givePad">
                <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                    {{{body}}}
                </div>
            </div>
		<!-- </div> -->
	</div>

    <div id="dropDownSelect1"></div>
    
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
	{{!-- <script src="js/main.js"></script> --}}
</body>

</html>